<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<title>Employee Management System</title>
	</head>
	<body>
		
		<div class="container">
			<h1>Employee Management System</h1>
			<h2>Update Employee</h2>
			<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="post">
				<!--Add Hidden Form Field to Handle Update-->
				<input type="hidden" th:field="*{id}">
				<input type="text" th:field="*{First_Name}" placeholder="Employee First Name" class="from-control mb-4 col-4"><br>
				<input type="text" th:field="*{Last_Name}" placeholder="Employee Last Name" class="from-control mb-4 col-4"><br>
				<input type="text" th:field="*{Email}" placeholder="Employee Email" class="from-control mb-4 col-4">
				<button type="submit" class="btn btn-info col-2"> Update Employee</button>
			</form>
			<a th:href="@{/Home}">Back To Employee List</a>
		</div>	
		
	</body>
	
	</html>